.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  gap: 50px;
}

.textsend {
  color: white;
  align-self: flex-end;
}

.textget {
  color: white;
  align-self: flex-start;
}
