.container {
    display: flex;
    width: 100%;
    padding: 40px 0 0 0;
    flex-direction: column;
    align-items: center;
}

.btns {
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: center;
}

.btn_talk,
.btn_stop {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0 40px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(246, 243, 153, 0.18) inset, 0px -4px 4px 0px rgba(246, 243, 153, 0.18) inset;

}

.btn_talk {
    background-image: url('../../assets/btn_talk.svg');
}

.btn_talk:hover {
    filter: drop-shadow(0px 4px 5px #9747FF) drop-shadow(2px -2px 2px #ffe486);
}

.btn_stop {
    background-image: url('../../assets/btn_stop.svg');
    width: 120px;
    height: 120px;
    filter: drop-shadow(0px 4px 13px #9747FF) drop-shadow(2px -2px 17px rgba(255, 228, 133, 0.60));
}

@media (max-width: 499px) {
    .container {
        padding: 30px 0 0 0;
    }

    .btn_talk,
    .btn_stop {
        width: 80px;
        height: 80px;
        margin: 0 38px;
    }
}
