@import-normalize;

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --main-color-light: #EEE9F466;
  --main-color-dark: #FFFFFF1A;

  --backgroud-light: #F8F8F8;
  --backgroud-dark: #0A0806;

  --text-for-light: #230720;
  --text-for-dark: #F8F8F8;

  --gr-purple-violet: #7E32DA;
  --gr-purple-pink: #E52EA1;

  --gr-green-green: #92DC3233;
  --gr-green_light-violet: #7E32DA33;
  --gr-light-pink: #E52EA133;


  --purple: #7C32DC;
  --pink: #E52EA1;
  --red: #F53333;
  --gray: #2F2D2B;




}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
